<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 微信公众平台 小程序 企业号 开放平台 微信支付 JSSDK </title>
    <meta name="keywords" content="微信SDK,微信公众账号,小程序,SDK,微信公众平台,企业号,服务号,订阅号,微信支付,开放平台.net,c#,小程序开发" />
    <meta name="description" content="包含完整的公众账号、小程序、企业号、开放平台API，帮助用户轻松实现微信公众账号和企业号开发。以及微信支付、微信JSSDK的完整SDK和案例。" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/darktooltip.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/danktooltip/js/jquery.darktooltip.min.js"></script>
    @RenderSection("HeaderContent", false)
</head>
<body>
    <div class="content">
        <div class="senparc-header">
            <div class="wrapper">
                <!--<div class="logo">
                    <a href="http://www.kmeco.net">
                        <img src="/images/logo.png" alt="Kmeco.net" />
                    </a>
                </div>-->
                <div class="header-title">
                    <a href="@Url.Action("Index", "Home")" title="微信SDK（公众平台/小程序/企业号/开放平/微信支付/JSSDK/摇一摇周边）">微信SDK（公众平台/小程序/企业号/开放平台/微信支付/JSSDK/摇一摇周边）</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav-catalog">
                        <li><a href="@Url.Action("Index", "Home")">首页</a></li>
                        <li><a href="@Url.Action("Index", "Menu")">菜单</a></li>
                        <li><a href="@Url.Action("Index", "SimulateTool")">消息模拟</a></li>
                        <li><a href="@Url.Action("JumpToMpOAuth", "OpenOAuth")">开放平台</a></li>
                        <li><a href="@Url.Action("Test", "Cache")">缓存测试</a></li>
                        <li><a href="https://github.com/JeffreySu/WeixinResource" target="_blank">更多开发资源</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 公告 -->
        <div id="noticearea">
            <div class="wrapper">
                <span>Kmeco官方微信测试号上线，提供测试服务。</span>
            </div>
        </div>
        @if (ViewData["HideBanner"] == null)
        {
            <div class="senparc-jumbotron">
                <div class="wrapper">
                    <div class="container-left">
                        <ul>
                            <li><a href="https://www.kmpoker.com" target="_blank">威乐竞技俱乐部</a></li>
                            <li><a href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">Nuget项目</a></li>
                        </ul>
                    </div>
                    <div class="container-right">
                        <span class="container-span container-span-title">微信公众平台</span>
                        <span class="container-span">
                            <span>全面支持：微信公众号、小程序、微信支付、</span>
                            <span>JS-SDK、开放平台、企业号、企业微信……</span>
                        </span>
                        <span class="container-p">轻松打造微信各平台的扩展应用吧！</span>
                        <div class="contact">
                            <div class="contatc-name">客服热线：0871-65229899</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        @if (!IsSectionDefined("catalog"))
        {
            <div class="catalog">
                <a href="@Url.Action("Index", "Menu")">自定义菜单设置工具</a>
                <a href="@Url.Action("Index", "SimulateTool")">消息模拟工具</a>
                <a href="@Url.Action("Test", "Cache")">缓存测试</a>
                <a href="@Url.Action("Index", "AsyncMethods")">异步方法</a>
            </div>
        }
        @RenderBody()
        <div class="footer">
            <p class="footer-contact">
                &nbsp;<a href="http://www.kmeco.net" target="_blank">昆明意酷网络</a>
            </p>
            <p class="footer-icon">&copy; 2012-@DateTime.Now.Year KmEco，昆明意酷网络科技有限公司，版权所有，保留所有权利。</p>
        </div>
        @RenderSection("scripts", required: false)
        <div style="display: none;">
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?a8ad9ff7b9dd4cbb5510f6a929ba085f";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();

                $(function () {
                    loadQQGroups();
                });

                function loadQQGroups() {
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "https://weixin.senparc.com/WeixinSdk/GetSdkQqGroupListJson",
                        dataType: "jsonp",
                        jsonp: "callbackparam", //服务端用于接收callback调用的function名的参数
                        jsonpCallback: "success_jsonpCallback", //callback的function名称
                        success: function (json) {
                            $('#qqGroups').html(json[0].html);
                            $('#contact-content li.contact-qq').darkTooltip({
                                theme: 'light'
                            });
                        },
                        error: function () {
                            //alert('fail');
                        }
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>
